input[type=text] {
    width:min-content; 
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 5px 8px 8px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 200px;
}

.Animal-name+.img{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold ;
}

p{
    font-weight: bold;
}
.submit{
    display: flex;  
    width: fit-content;
    font-weight:300;
}
