/*Nolan Dugué*/


/*ici on a le style general de notre site*/

/*l'élement html représente la page, ici on modifie donc la couleur du fond et le style d'écriture*/
html{
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
}

li a{
    color: blue;
}

div > h3 {
    color: red;
}

/*Ici  je fais en sorte que chaque première lettre de tous mes paragraphes soit en italique et plus large*/
p::first-letter
{
        font-style: italic ;
        font-size: larger;
}

.organisation{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.w-65{
    width: 65%;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

thead{
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

ul {
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding: 0;
}

li {
  list-style: none;
  position: relative;
  padding: 0 0 0 20px;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  height: 5px;
  width: 5px;
  border: 1px solid #f9dd94;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
}