
html{
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
}

li a{
    color: blue;
}

p::first-letter
{
        font-style: italic ;
        font-size: larger;
}

.organisation{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.w-65{
    width: 65%;
}

